<%= form_with(model: barber, local: true) do |form| %>
  <% if barber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barber.errors.count, "error") %> prohibited this barber from being saved:</h2>

      <ul>
      <% barber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :barber_name %>
    <%= form.text_field :barber_name %>
  </div>

  <div class="field">
    <%= form.label :barber_bio %>
    <%= form.text_field :barber_bio %>
  </div>

  <div class="field">
    <%= form.label :barber_photo_path %>
    <%= form.text_field :barber_photo_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
