<p id="notice"><%= notice %></p>

<p>
  <strong>Barber name:</strong>
  <%= @barber.barber_name %>
</p>

<p>
  <strong>Barber bio:</strong>
  <%= @barber.barber_bio %>
</p>

<p>
  <strong>Barber photo path:</strong>
  <%= @barber.barber_photo_path %>
</p>


<%= link_to 'Edit', edit_barber_path(@barber) %> |
<%= link_to 'Back', barbers_path %>
